@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800;900&display=swap");
body {
  font-family: "Raleway", "Sans serif";
  margin: 0;
}

html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}
body {
  background-color: #fafafc;
  margin: auto;
}
.hebergementGrid {
  display: grid;
  grid-template-columns: 6fr 3fr;
  row-gap: 2rem;
  column-gap: 2rem;
}
.hostGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 2rem;
  row-gap: 2rem;
}
.asidePop {
  display: grid;
  row-gap: 2rem;
  align-items: start;
  grid-template-rows: auto repeat(3, 1fr);
}
.asidePop .property-card {
  width: 25em;
  height: 10em;
  display: flex;
}
.asidePop .property-image {
  width: 25em;
  height: 10em;
}
#header {
  display: grid;
  align-items: center;
  max-width: 1440px;
  margin: auto;
  grid-template-columns: auto 1fr auto auto;
  grid-template-areas: "logo . navbar";
}

.headHost {
  grid-column: 1/-1;
}
.headHost h2 {
  grid-column: 1/-1;
  margin-bottom: 0;
}
.afficherPlus,
.hostGrid {
  background-color: #f2f2f2;
  border-radius: 1.5rem;
  padding: 0 2rem;
}

.main {
  margin: auto;
  padding: 0 2rem;
  max-width: 1440px;
  box-sizing: border-box;
}

.headNav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-wrap: wrap;
  align-content: center;
}
.headNav a {
  padding: 2rem;
  text-decoration: none;
  color: #555;
  border-top: 3px transparent solid;
  border-bottom: 3px transparent solid;
}
.activeHover[data-active="true"] {
  border-top: 3px solid #0065fc;
}
.headNav a:hover {
  border-top: 3px solid #0065fc;
}

/* .hebergement {
  max-width: 900px;
  border: 1px solid #555;
  background-color: #f2f2f2;
  border-radius: 1.5rem;
  padding: 0 2rem;
}

.conteneur {
  width: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
} */
/* .hebergement h2 {
  width: auto;
} */

* {
  box-sizing: border-box;
}

h5 {
  margin: 0px;
  font-size: 1em;
  font-weight: 700;
}

h2 {
  font-size: 1em;
}
p {
  font-size: 12px;
}

.asidePop {
  background-color: #f2f2f2;
  border-radius: 1.5rem;
  padding: 0 2rem;
}
/* End Non-Essential  */

.property-card {
  display: inherit;
  height: 18em;
  width: 14em;
  position: relative;
  border-radius: 16px;
  overflow: hidden;
  box-shadow: 0 0 16px #0000002e;
  border: 6px solid rgba(255, 255, 255, 0.95);
  border-radius: 20px;
}
/* ^-- The margin bottom is necessary for the drop shadow otherwise it gets clipped in certain cases. */

/* Top Half of card, image. */

.property-image {
  height: 12em;
  width: 14em;
  text-align: center;
  position: Absolute;
  display: flex;
  top: 0px;
  -webkit-transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  -o-transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  background-size: cover;
  background-repeat: no-repeat;
}

/* Bottom Card Section */

.property-description {
  background-color: #fafafc;
  height: 8em;
  width: 16em;
  position: absolute;
  bottom: -2em;
  -webkit-transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  -o-transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  padding: 0.5em 1em;
}

/* Social Icons */

.property-social-icons {
  width: 1em;
  height: 1em;
  color: #0065fc;
  position: absolute;
  bottom: 1em;
  left: 1em;
  -webkit-transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  -o-transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
}

/* Property Cards Hover States */
/*
.property-card:hover .property-description {
  height: 0em;
  padding: 0px 1em;
}
.property-card:hover .property-image {
  height: 18em;
}

.property-card:hover .property-social-icons {
  background-color: white;
}

.property-card:hover .property-social-icons:hover {
  background-color: blue;
  cursor: pointer;
}
*/
footer {
  margin: auto;
  box-sizing: border-box;
  background-color: #f2f2f2;
  width: 100%;
}

.hostGrid .property-card {
  height: 15em;
  width: 16em;
}

.afficherPlus {
  padding: 0;
}

.headerImg {
  padding: 0 2rem;
}

.container-1 {
  display: flex;
  width: 300px;
  vertical-align: middle;
  white-space: nowrap;
  position: relative;
}
.container-1 input#search {
  width: 300px;
  height: 50px;

  border: none;
  font-size: 10pt;
  float: left;
  color: #63717f;
  padding-left: 26px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.container-1 input#search::-webkit-input-placeholder {
  color: #65737e;
}

.container-1 input#search:-moz-placeholder {
  /* Firefox 18- */
  color: #65737e;
}

.container-1 input#search::-moz-placeholder {
  /* Firefox 19+ */
  color: #65737e;
}

.container-1 input#search:-ms-input-placeholder {
  color: #65737e;
}

.container-1 .icon {
  position: relative;
  top: 50%;
  margin-left: 17px;
  margin-top: 17px;
  margin-right: 17px;
  z-index: 1;
  color: #4f5b66;
}

.container-1 input#search:hover,
.container-1 input#search:focus,
.container-1 input#search:active {
  outline: none;
  background: #fafafc;
}

button {
  background-color: #0065fc;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 0 1rem 1rem 0;
  padding: 0 1.5rem;
  text-align: center;
  padding: 16px;
}

.headSearch {
  font-size: 1.2em;
}

.container-2 {
  display: flex;
  position: relative;
  margin: 1rem;
}
.searchFiltersFilter {
  display: flex;
  align-items: center;
  margin-right: 2rem;
  border: 2px solid #d9d9d9;
  border-radius: 2rem;
  cursor: pointer;
  font-weight: bold;
}
.containeurFooter {
  display: flex;
  max-width: 100%;
  width: 1440px;
  margin: auto;
  padding: 0 2rem;
  box-sizing: border-box;
}

.about,
.hostLink,
.help {
  width: 30%;
  padding: 2rem 2rem;
}

footer a {
  display: block;
  margin: 1rem 0;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 0px 0px;
  grid-template-areas:
    "card-1 cardd-2 card-4 card-5"
    "card-1 card-3 card-4 card-6";
}

.card-1 {
  grid-area: card-1;
}

.cardd-2 {
  grid-area: cardd-2;
}

.card-3 {
  grid-area: card-3;
}

.card-4 {
  grid-area: card-4;
}

.card-5 {
  grid-area: card-5;
}

.card-6 {
  grid-area: card-6;
}

.property-card img {
  width: 260px;
  object-fit: cover;
}

.hostingMainCardGrade {
  display: flex;
}
.hostingMainCardGradeIcon[data-active="false"] {
  color: #d9d9d9;
}
/* 
.property-card2 {
  display: flex;
  height: 18em;
  width: 14em;
  position: relative;
  border-radius: 16px;
  overflow: hidden;
  box-shadow: 15px 15px 27px #e1e1e3, -15px -15px 27px #ffffff;
} */

.fixingcard {
  display: flex;
  flex-direction: row;
  width: 25em;
  height: 10em;
  position: relative;
  border-radius: 16px;
  overflow: hidden;
  box-shadow: 15px 15px 27px #e1e1e3, -15px -15px 27px #ffffff;
}

h1 {
  font-size: 1.5em;
}

.searchResult {
  display: flex;
  align-items: center;
  margin: 1rem 0 1rem 0;
}

.iconSearch {
  height: 2rem;
  width: 2rem;
  min-height: 2rem;
  min-width: 2rem;
  border: solid 1px #d9d9d9;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 1rem;
  color: #0065fc;
}

.filtreHeberg {
  display: flex;
}

.searchFiltersFilterWrapicon {
  margin-right: 1rem;
  margin-left: 1rem;
  background-color: #deebff;
  border-radius: 100%;
  height: 3rem;
  width: 3rem;
  min-height: 3.5rem;
  min-width: 3.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: -2px;
}

.headSearch h1 {
  margin-bottom: 0.5rem;
}

.filtreHeberg h2 {
  margin-right: 1rem;
}

.searchFiltersFilterTitle {
  margin: 0px 1rem 0px 0px;
}
